@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverFilter img {
    filter: grayscale(100%);
    transition: filter 100ms linear;
	-webkit-transition: -webkit-filter 100ms linear;
}

.hoverFilter img:hover {
	filter: none;
}

.box-shadow-news-letter-out {
  box-shadow: 10px 0 12px -4px rgba(31, 73, 125, 0.08), -10px 0 6px -4px rgba(31, 73, 125, 0.08);
}

@media (max-width: 1340px) {
    .hoverFilter img {
        filter: none;
    }
}